<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>426431154937-g8a5i4idnus01vftm0p0smqg9csj5tk1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.426431154937-g8a5i4idnus01vftm0p0smqg9csj5tk1</string>
	<key>API_KEY</key>
	<string>AIzaSyAI4cUlu1FFUspk2z9YVAuJro-GFy86mEM</string>
	<key>GCM_SENDER_ID</key>
	<string>426431154937</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gradProject</string>
	<key>PROJECT_ID</key>
	<string>graduation-175d5</string>
	<key>STORAGE_BUCKET</key>
	<string>graduation-175d5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:426431154937:ios:6fcf1f0242a31c15c5f028</string>
</dict>
</plist>